
<div class="row">
  <div class="col-md offset-md-1">
    <%= form_with(model: breastfeeding, local: true) do |form| %>
      <% if breastfeeding.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(breastfeeding.errors.count, "error") %> prohibited this breastfeeding from being saved:</h2>

          <ul>
            <% breastfeeding.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="field">
        <%= form.label :volume, "Volumen" %>
        <%= form.number_field :volume %>
      </div>
      <div class="field">
        <%= form.label :minutes , "Minutos"%>
        <%= form.number_field :minutes %>
      </div>
       <div class="field">
        <%= form.label :baby_id %>
        <!--<%= form.number_field :baby_id %>-->
        <%=  form.collection_select :baby_id, Baby.all, :id,  :name %>
      </div>
      <div class="actions ">
        <%= form.submit "Guardar" %>
      </div>
    <% end %>
  </div>
</div>