<div class="row">

  <div class="col-md offset-md-1">

    <p id="notice"><%= notice %></p>

    <h1>Lactancia</h1>

    <table class="table">
      <thead class="text-center">
        <tr>
          <th>Volumen</th>
          <th>Minutos</th>
          <th>Bebé</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody class="text-center" >
        <% @breastfeedings.each do |breastfeeding| %>
          <tr >
            <td ><%= breastfeeding.volume %></td>
            <td><%= breastfeeding.minutes %></td>
            <td><%= breastfeeding.baby %></td> 
            <td><%= link_to 'Mostrar', breastfeeding %></td>
            <td><%= link_to 'Editar', edit_breastfeeding_path(breastfeeding) %></td>
            <td><%= link_to 'Destruir', breastfeeding, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
    <%= link_to 'Nueva Lactancia', new_breastfeeding_path , class:"btn btn-success" %>
    <%= link_to 'Administrar Bebés', babies_path , class:"btn btn-primary"%>
  </div>
</div>